version: '3.8'

services:
  woocp:
    build: .
    container_name: woocp
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=4000
